<mat-form-field [appearance]="'outline'" [class.hideBottomSpace]="!showBottomSpace" color="accent">
  @if (label) {
    <mat-label>{{ label | translate }}</mat-label>
  }
  @if (mask) {
    <input
      [dropSpecialCharacters]="maskOptions?.dropSpecialCharacters ?? true"
      [formControl]="control"
      [leadZeroDateTime]="maskOptions?.leadZeroDateTime ?? false"
      [mask]="mask"
      [placeholder]="(placeholder ?? label ?? '' | translate).toString()"
      [showMaskTyped]="maskOptions?.showMaskTyped ?? false"
      [type]="type"
      matInput
    />
  }
  @if (!mask) {
    <input
      [formControl]="control"
      [placeholder]="(placeholder ?? label ?? '' | translate).toString()"
      [type]="type"
      matInput
    />
  }
  @if (hint) {
    <mat-hint>{{ hint | translate }}</mat-hint>
  }
  <control-error [control]="control" matError />
</mat-form-field>
