<mat-form-field
  [appearance]="'outline'"
  color="accent"
  [style.--start]="startTime"
  [style.--end]="endTime"
>
  @if (label) {
    <mat-label>{{ label | translate }}</mat-label>
  }
  <mat-date-range-input [rangePicker]="picker">
    <input [formControl]="startDateControl" [placeholder]="placeholder" matStartDate />
    <input [formControl]="endDateControl" matEndDate />
  </mat-date-range-input>
  @if (hint) {
    <mat-hint>{{ hint | translate }}</mat-hint>
  }
  <mat-datepicker-toggle [for]="picker" matIconSuffix />
  <mat-date-range-picker #picker [calendarHeaderComponent]="DateTimeRangePickerHeaderComponent" />
  <control-error [control]="control" matError />
</mat-form-field>
