mat-form-field {
  width: 100%;
}

:host::ng-deep {
  input {
    position: unset;
    width: 100px;
  }

  .mat-date-range-input-container {
    flex-direction: column;
    align-items: unset;
  }

  .mat-date-range-input-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    max-width: unset;
  }

  .mat-date-range-input-hide-placeholders .mat-date-range-input-mirror {
    display: none;
  }

  .mat-date-range-input-wrapper:after {
      font: inherit;
      background: rgba(0, 0, 0, 0);
      color: currentColor;
      vertical-align: bottom;
      text-align: inherit;
      line-height: 16px;
  }

  .mat-date-range-input-wrapper:first-child:after {
    content: var(--start, "");
  }

  .mat-date-range-input-wrapper:last-child:after {
    content: var(--end, "");
  }
}
