<container-primary>
  <main>
    @if (user$ | async; as user) {
      <head2>
        <head2 key="welcome" />
        <span>, </span>
        <head2>{{ user.login }}</head2>
      </head2>
      <section>
        <home-dashboard-nav-card key="schedule" routerLink="schedule" />
        <home-dashboard-nav-card key="journal" routerLink="journal" />
      </section>
      <div>
        <home-dashboard-chart />
        <home-dashboard-chart />
        <home-dashboard-chart />
        <home-dashboard-chart />
      </div>
    } @else {
      <head2 key="welcome" />
      <div class="sources">
        <p1 key="source_description" />
        <a href="mailto:likdan.official@gmail.com" target="_blank">
          <p1 key="email" />
        </a>
        <a href="https://t.me/likdan" target="_blank">
          <p1 key="telegram" />
        </a>
        <h-divider />
        <head4 key="sources_text" />
        <ul>
          <li>
            <a href="https://github.com/likdan/studyum">
              <p1 key="frontend" />
            </a>
          </li>
          <li>
            <a href="https://github.com/likdan/studyumapi">
              <p1 key="backend" />
            </a>
          </li>
          <li>
            <a href="https://github.com/likdan/studyumdeploy">
              <p1 key="deploy" />
            </a>
          </li>
        </ul>
      </div>
    }
  </main>
  <character position="sits_by_the_table" />
</container-primary>
