@if (lesson$(); as lesson) {
  <div>
    <text-input
      (keyup.enter)="input(lesson)"
      [formControl]="inputFormControl"
      class="density-input-min3"
    />
    <primary-button (click)="input(lesson)" key="confirm" />
  </div>
  @if (lesson.marks && lesson.marks.length !== 0) {
    <spacer />
    <p2 key="studentMarks" />
    <section>
      @for (mark of lesson.marks; track mark) {
        <secondary-button
          (click)="removeMark(mark)"
          [key]="mark.mark"
          [matTooltip]="('delete_mark' | translate).toString()"
        />
      }
    </section>
  }
  @if (lesson.type.availableMarks && lesson.type.availableMarks.length !== 0) {
    <spacer />
    <span><p2 key="marks" /> | <p2 [key]="lesson.type.type" /></span>
    <section>
      @for (mark of lesson.type.availableMarks; track mark) {
        <primary-button (click)="addMark(mark)" [key]="mark.mark" />
      }
    </section>
  }
  @if (lesson.type.showAbsences) {
    <spacer />
    <p2 key="absences" />
    <div>
      <text-input
        [formControl]="absenceFormControl"
        [placeholder]="lesson.absence ? 'absences' : 'latency'"
        class="density-input-min3"
      />

      @if (lesson.absence) {
        @if (lesson.absence.time) {
          <primary-button (click)="removeAbsence(lesson)" key="remove_latency" />
        }
        @if (!lesson.absence.time) {
          <primary-button (click)="removeAbsence(lesson)" key="remove_absence" />
        }
      }

      @if (!lesson.absence) {
        @if (absenceFormControl.value) {
          <primary-button (click)="addAbsence()" key="add_latency" />
        }
        @if (!absenceFormControl.value) {
          <primary-button (click)="addAbsence()" key="add_absence" />
        }
      }
    </div>
  }
} @else {
  <skeleton-plug [plugComponent]="JournalAddMarkDialogPlugComponent" plug="loading" />
}
