<container-primary>
  <header>
    <url class="logo-text" link="/">
      <head2 routerLink="/">{{ "appName" | translateGroup | translate }}</head2>
    </url>
    <url class="logo-text logo-text-sm" link="/">
      <head2 routerLink="/">{{ "appNameShorten" | translateGroup | translate }}</head2>
    </url>

    <div class="right-wrapper">
      <nav class="nav-bar">
        <url key="schedule" link="schedule" />
        @if (user$ | async) {
          <url key="journal" link="journal" />
        }
      </nav>
      <nav class="nav-bar nav-bar-sm">
        <url link="schedule">
          <icon src="calendar_month" />
        </url>
        @if (user$ | async) {
          <url link="journal">
            <icon src="book" />
          </url>
        }
      </nav>
      <v-divider />

      @if (user$ | async; as user) {
        <url class="profile" link="user">
          <p1>{{ user.login }}</p1>
          <image [src]="user.pictureURL" alt="profile" class="profile-image" />
        </url>
      } @else {
        <div class="user-block">
          <url class="icon-btn login-btn" link="user/auth/login">
            <p2 key="login" />
            <icon src="login" />
          </url>
          <url class="icon-btn signup-btn" link="user/auth/signup">
            <p2 key="signup" />
            <icon src="person_add" />
          </url>
        </div>
      }
    </div>
  </header>
</container-primary>
