<mat-form-field [appearance]="'outline'" color="accent">
  @if (label) {
    <mat-label>{{ label | translate }}</mat-label>
  }
  <label>
    <mat-select
      [formControl]="control"
      [placeholder]="(placeholder ?? label ?? '' | translate).toString()"
    >
      @if (items$ | async; as items) {
        @for (item of items; track trackBy($index, item)) {
          <mat-option [value]="item.value">
            <p1 [key]="item.display" />
            <div class="color" [style.background-color]="item.value"></div>
          </mat-option>
        }
      }
    </mat-select>
    <div class="color" [style.background-color]="control.value"></div>
  </label>
  @if (hint) {
    <mat-hint>{{ hint | translate }}</mat-hint>
  }
  <control-error [control]="control" matError />
</mat-form-field>
