@use "@angular/material-experimental" as mat;

$primary-palette: (
  0: #ebedf6,
  10: #cdd1e8,
  20: #acb3d9,
  30: #8a94c9,
  40: #717dbe,
  50: #5866b2,
  60: #505eab,
  70: #4753a2,
  80: #3d4999,
  90: #2d388a,
);

$accent-palette: (
  0: #fff3e0,
  10: #ffe0b3,
  20: #ffcc80,
  30: #ffb84d,
  40: #ffa826,
  50: #ff9900,
  60: #ff9100,
  70: #ff8600,
  80: #ff7c00,
  90: #ff6b00,
);

$warn-palette: (
  0: #ffeaea,
  10: #ffcbcb,
  20: #ffa9a9,
  30: #ff8686,
  40: #ff6c6c,
  50: #ff5252,
  60: #ff4b4b,
  70: #ff4141,
  80: #ff3838,
  90: #ff2828,
);

$theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$m3-violet-palette,
      tertiary: mat.$m3-orange-palette,
    ),
  )
);

//$primary: mat.define-palette($primary-palette);
//$accent: mat.define-palette($accent-palette);
//$warn: mat.define-palette($warn-palette);
//
//$config: mat.define-typography-config(
//  $font-family: 'Roboto, "Helvetica Neue", sans-serif',
//);
//
//$theme: mat.define-light-theme(
//  (
//    color: (
//      primary: $primary,
//      accent: $accent,
//      warn: $warn,
//    ),
//    typography: $config,
//  )
//);
