<section class="times primary">
  <skeleton-loader />
  <skeleton-loader />
  <skeleton-loader />
  <skeleton-loader />
  <skeleton-loader />
  <skeleton-loader />
  <skeleton-loader />
  <skeleton-loader />
  <skeleton-loader />
  <skeleton-loader />
</section>
<section class="weekdays primary">
  <skeleton-loader />
  <skeleton-loader />
  <skeleton-loader />
  <skeleton-loader />
  <skeleton-loader />
  <skeleton-loader />
</section>
<section class="markup">
  <hr>
  <hr>
  <hr>
  <hr>
  <hr>
  <hr>
  <hr>
  <hr>
  <hr>
  <hr>
</section>
<main>
  <skeleton-loader />
  <skeleton-loader />
  <skeleton-loader />
  <skeleton-loader />
  <skeleton-loader />
  <skeleton-loader />
  <skeleton-loader />
  <skeleton-loader />
  <skeleton-loader />
  <skeleton-loader />
  <skeleton-loader />
  <skeleton-loader />
  <skeleton-loader />
  <skeleton-loader />
  <skeleton-loader />
  <skeleton-loader />
  <skeleton-loader />
  <skeleton-loader />
  <skeleton-loader />
  <skeleton-loader />
</main>