@import "themes";
@import "indents";

:host {
  display: flex;
  flex-direction: column;

  @include theme {
    color: $onPrimaryBackgroundColor;
  }
}

head2 {
  position: sticky;
  top: 0;
  padding-bottom: $indent3;

  @include theme {
    background-color: $primaryBackgroundColor;
  }
}

section {
  display: flex;
  flex-direction: column;
  gap: $indent2;
}
