<skeleton-loader class="search primary" />
<section>
  <skeleton-loader class="primary" />
  <skeleton-loader />
  <skeleton-loader />
  <skeleton-loader />
  <skeleton-loader />
  <skeleton-loader />
  <skeleton-loader />
</section>
<section>
  <skeleton-loader class="primary" />
  <skeleton-loader />
  <skeleton-loader />
  <skeleton-loader />
  <skeleton-loader />
  <skeleton-loader />
  <skeleton-loader />
</section>
<section>
  <skeleton-loader class="primary" />
  <skeleton-loader />
  <skeleton-loader />
  <skeleton-loader />
  <skeleton-loader />
  <skeleton-loader />
  <skeleton-loader />
</section>
