@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

$font: Roboto, serif;
$font2: Comfortaa, Roboto, serif;

$fontSizeExtraLarge: 32px;
$fontSizeLarge: 26px;
$fontSizeBig: 22px;
$fontSizeMedium: 16px;
$fontSizeSmall: 12px;

$iconSizeExtraLarge: 64px;
$iconSizeLarge: 48px;
$iconSizeBig: 32px;
$iconSizeMedium: 24px;
$iconSizeSmall: 20px;

$lineHeightBig: 130%;
$lineHeightSmall: 120%;

$fontWeightBold: 700;
$fontWeightSemibold: 600;
$fontWeightMedium: 500;
$fontWeightRegular: 400;
