@import "themes";

:host {
  display: grid;
  place-items: center;
}

svg {
  width: 100%;
  height: 100%;
  grid-row: 1;
  grid-column: 1;
}

p1 {
  grid-row: 1;
  grid-column: 1;

  @include theme {
    color: $onPrimaryBackgroundColor;
  }
}
