@function brighten-color($color, $percentage) {
  @if $percentage < 0 {
    $percentage: 0;
  } @else if $percentage > 100 {
    $percentage: 100;
  }

  $red: red($color);
  $green: green($color);
  $blue: blue($color);

  $red: $red + (($red * $percentage) / 100);
  $green: $green + (($green * $percentage) / 100);
  $blue: $blue + (($blue * $percentage) / 100);

  $red: min($red, 255);
  $green: min($green, 255);
  $blue: min($blue, 255);

  @return rgb($red, $green, $blue);
}

@mixin clickable($primaryBackgroundColor) {
  & {
    background-color: $primaryBackgroundColor;
    cursor: pointer;
  }

  &:hover {
    background-color: rgba($primaryBackgroundColor, 0.9);
  }

  &:active {
    background-color: rgba($primaryBackgroundColor, 0.7);
  }

  &:disabled,
  &.disabled {
    cursor: auto;
    background-color: rgba($primaryBackgroundColor, 0.5);
  }
}

@mixin clickableOpacity() {
  & {
    cursor: pointer;
  }

  &:hover {
    opacity: 0.9;
  }

  &:active {
    opacity: 0.7;
  }

  &:disabled,
  &.disabled {
    cursor: auto;
    opacity: 0.5;
  }
}

@mixin clickableScale {
  & {
    cursor: pointer;
  }

  &:hover {
    scale: 1.05;
  }

  &:active {
    scale: 1.1;
  }
}
