$dark: (
  _default: true,
  primaryColor: #7289da,
  secondaryColor: #ff9900,
  thirdColor: #cc88ff,
  dangerColor: #ff5252,
  backgroundColor: #71757d,
  primaryBackgroundColor: #262e3f,
  secondaryBackgroundColor: #3b4252,
  onPrimaryColor: #f0f0f0,
  onSecondaryColor: #f0f0f0,
  onPrimaryBackgroundColor: #f0f0f0,
  onSecondaryBackgroundColor: #f0f0f0,
  skeletonColor: #999999,
  skeletonIndicatorColor: #a8a8a8,
  skeletonPrimaryColor: #888888,
  skeletonPrimaryIndicatorColor: #b0b0b0,
  onEmpty: #5263a5,
  onError: #ff5252,
);
