$light: (
  primaryColor: #122979,
  secondaryColor: #56432e,
  thirdColor: #c0b12f,
  dangerColor: #ff5252,
  backgroundColor: #d3d8e1,
  primaryBackgroundColor: #d4e1fa,
  secondaryBackgroundColor: #8a8a8a,
  onPrimaryColor: #000000,
  onSecondaryColor: #000000,
  onPrimaryBackgroundColor: #000000,
  onSecondaryBackgroundColor: #000000,
  skeletonColor: #999999,
  skeletonIndicatorColor: #a8a8a8,
  skeletonPrimaryColor: #888888,
  skeletonPrimaryIndicatorColor: #b0b0b0,
  onEmpty: #5263a5,
  onError: #ff5252,
);
