@import "indents";

:host {
  display: grid;
  column-gap: $indent3;
  row-gap: $indent2;
}

.titles {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  gap: $indent2 + 30px;
  padding-top: 15px;

  & > * {
    width: 125px;
    height: 20px;
  }
}

.dates {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  gap: $indent2;

  & > * {
    width: 50px;
    height: 35px;
  }
}

main {
  grid-column: 2;
  grid-row: 2;
  display: grid;
  gap: $indent2;
  grid-template-columns: repeat(30, 50px);
  grid-template-rows: repeat(20, 50px);
}
