@import "themes";
@import "indents";
@import "typography";

:host {
  display: flex;
  flex-flow: column;
  justify-content: center;
  gap: $indent1;
}

head1 {
  font-family: $font2;
  font-weight: $fontWeightMedium;
  margin-bottom: $indent1;
  align-self: flex-start;

  @include theme {
    color: $onSecondaryBackgroundColor;
  }
}

div {
  display: grid;
  align-items: stretch;
  grid-template-columns: auto auto;
  grid-template-rows: min-content;
  width: min-content;
  border-radius: $borderRadius2;

  @include theme {
    background-color: $secondaryBackgroundColor;
  }
}

form {
  margin: $indent4;
  display: flex;
  flex-flow: column;
  border-top-left-radius: $borderRadius2;
  border-bottom-left-radius: $borderRadius2;
  gap: $indent2;
  min-width: 300px;

  &:not(:has(character)) {
    border-top-right-radius: $borderRadius2;
    border-bottom-right-radius: $borderRadius2;
  }

  @include theme {
    background-color: $secondaryBackgroundColor;
  }
}

character {
  align-self: stretch;
  aspect-ratio: 1;
  border-top-right-radius: $borderRadius2;
  border-bottom-right-radius: $borderRadius2;

  @include theme {
    background-color: $secondaryBackgroundColor;
  }
}

url {
  margin-top: $indent1;
  text-align: center;

  @include theme {
    color: $onSecondaryBackgroundColor;
  }
}
