@import "themes";
@import "indents";

$cellSize: 55px;

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

container-primary {
  position: relative;
  overflow: scroll;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  grid-template-columns: min-content min-content;
  grid-template-rows: auto 1fr;

  &:not(.empty) {
    display: grid;
  }
}

.empty-corner {
  position: sticky;
  top: 0;
  left: 0;
  background: inherit;
  grid-column: 1;
  grid-row: 1;
  z-index: 5;
}

.titles-container {
  display: flex;
  flex-direction: column;
  position: sticky;
  left: 0;
  grid-column: 1;
  grid-row: 2;
  gap: $indent2;
  padding: $indent1 $indent1 0 $indent2;
  background: inherit;
  white-space: nowrap;
  z-index: 4;

  & > * {
    display: flex;
    align-items: center;
    height: $cellSize;
  }
}

.dates-container {
  display: flex;
  position: sticky;
  grid-column: 2;
  grid-row: 1;
  height: fit-content;
  top: 0;
  background: inherit;
  gap: $indent2;
  padding: $indent2 0 $indent1 $indent1;
  z-index: 4;

  & > * {
    width: $cellSize;
    height: fit-content;
  }
}

.cells-container {
  display: grid;
  position: relative;
  height: 100%;
  grid-auto-columns: min-content;
  grid-auto-rows: min-content;
  grid-column: 2;
  grid-row: 2;
  z-index: 3;

  & > * {
    width: $cellSize;
    height: $cellSize;
    margin: $indent1;
  }
}

.empty-cells-wrapper {
  position: relative;
  grid-column: 2;
  grid-row: 2;
  min-width: 0;
  overflow: hidden;
}

.empty-cells-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  overflow: hidden;

  & > * {
    width: $cellSize;
    height: $cellSize;
    border-radius: $borderRadius2;
    min-width: 0;

    @include theme {
      background-color: $secondaryBackgroundColor;
    }
  }
}

.clickable {
  @include clickableScale;

  &:hover,
  &:active {
    z-index: 1;
  }
}
