<mat-form-field [appearance]="'outline'" color="accent">
  @if (label) {
    <mat-label>{{ label | translate }}</mat-label>
  }
  <input
    [formControl]="control"
    [matAutocomplete]="auto"
    [placeholder]="(placeholder ?? label ?? '' | translate).toString()"
    matInput
  />
  <mat-autocomplete #auto="matAutocomplete">
    @if (items$ | async; as items) {
      @for (item of items; track trackBy($index, item)) {
        <mat-option [class.hidden]="!show(search$ | async, item.display)" [value]="item.value"
          >{{ item.display | translate }}
        </mat-option>
      }
    }
  </mat-autocomplete>
  @if (hint) {
    <mat-hint>{{ hint | translate }}</mat-hint>
  }
  <control-error [control]="control" matError />
</mat-form-field>
