@import "indents";
@import "themes";

:host {
  background: #eee;
  border-radius: $borderRadius1;
  display: block;
}

:host:not(.disabled) {
  animation: 2s shine linear infinite;
  @include theme {
    background: linear-gradient(
      110deg,
      var(--skeleton-color, #{$skeletonColor}) 8%,
      var(--skeleton-line-color, #{$skeletonIndicatorColor}) 18%,
      var(--skeleton-color, #{$skeletonColor}) 33%
    );
    background-size: 200% 100%;
  }
}

:host.disabled {
  @include theme {
    background-color: var(--skeleton-color, #{$skeletonColor});
  }
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}
