@if (user$ | async; as user) {
  <main>
    <div>
      <image [src]="user.picture" alt="profile" />
      <head2>{{ user.login }}</head2>
    </div>
    <h-divider />
    <!--    TODO -->
    <!--    @if (user.studyPlaceInfo) {-->
    <!--      <p1>{{ user.studyPlaceInfo.name }}</p1>-->
    <!--    }-->
    <!--    @if (user.studyPlaceInfo) {-->
    <!--      <p1>{{ user.studyPlaceInfo.roleName }}</p1>-->
    <!--    }-->
    <p1>{{ user.email }}</p1>
    <h-divider />
    <primary-button (click)="editProfile()" key="edit" />
  </main>

  <secondary-button (click)="signout()" key="signout" />
  <warn-button (click)="revoke()" key="revokeToken" />

  @if (warnings(user); as warnings) {
    <div>
      <ul>
        @for (warn of warnings; track warn) {
          <li>
            <icon [style.color]="warn.color" src="error" />
            <url [key]="warn.message" [link]="warn.routerLink" />
          </li>
        }
      </ul>
    </div>
  }
}
