@if (items(); as items) {
  <section>
    <primary-button key="add" (click)="addItems()" />
    <primary-button key="edit" (click)="editItems()" [disabled]="selectedItemsAmount() !== 1" />
    <warn-button key="delete" (click)="deleteItems()" [disabled]="selectedItemsAmount() === 0" />
  </section>
  <div class="table-wrapper">
    <mat-table [dataSource]="itemsDataSource" matSort>
      <ng-container matColumnDef="checkbox">
        <mat-header-cell mat-header-cell *matHeaderCellDef>
          <checkbox [formControl]="headSelectedItemsFormControl" />
        </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let item">
          <checkbox [formControl]="getItemSelectionFormControl(item)" />
        </mat-cell>
      </ng-container>

      @for (column of items.columns; track column) {
        <ng-container [matColumnDef]="column">
          <mat-header-cell mat-sort-header mat-header-cell *matHeaderCellDef>
            {{ column }}
          </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let item">{{ item[column] }}</mat-cell>
        </ng-container>
      }

      <mat-header-row mat-header-row *matHeaderRowDef="headerColumns(items.columns)" />
      <mat-row mat-row *matRowDef="let row; columns: rowColumns(items.columns)" />
    </mat-table>
  </div>
}
