@import "indents";
@import "themes";

:host {
  display: flex;
  flex-direction: column;
  gap: $indent2;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

section {
  display: flex;
  justify-content: flex-end;
  gap: $indent2;
}

.table-wrapper {
  flex-grow: 1;
  min-height: 0;
  overflow-y: scroll;
}

mat-table {
  --mat-table-background-color: transparent;
  --mat-table-row-item-outline-color: transparent;
  --mat-table-row-item-outline-width: 0;

  border: 2px solid;
  border-radius: $borderRadius3;
  @include theme {
    border-color: brighten-color($primaryBackgroundColor, 25);
  }

  mat-row:nth-child(even) {
    @include theme {
      background-color: brighten-color($primaryBackgroundColor, 25);
    }
  }

  .mat-column-checkbox {
    flex: unset;
    width: 80px;
  }
}
