@use "@angular/material" as mat;
@import "icons";
@import "themes";
@import "indents";
@import "densities";
@import "snackbar";

@include mat.core();

@mixin mat-theme($theme) {
  @include mat.all-component-colors($theme);
}

body.light {
  @import "themes/light";
  @include mat-theme($theme);
}

body {
  @import "themes/dark";
  @include mat.all-component-themes($theme);
}

.mat-mdc-dialog-surface.mdc-dialog__surface {
  padding: $indent2 $indent3;

  @include theme {
    --mdc-dialog-container-color: #{$secondaryBackgroundColor} !important;
    color: $onSecondaryBackgroundColor;
  }
}

.mat-mdc-select-panel-above div.mat-mdc-select-panel,
.cdk-overlay-pane:not(.mat-mdc-select-panel-above) div.mat-mdc-select-panel {
  padding-top: 0;
}

mat-dialog-container {
  max-height: 90vh !important;
  max-width: 90vw !important;
  overflow: auto;

  .mat-mdc-dialog-surface.mdc-dialog__surface {
    display: flex;
  }
}

.cdk-dialog-container {
  display: flex !important;
}
