<mat-form-field [appearance]="'outline'" color="accent">
  @if (label) {
    <mat-label>{{ label | translate }}</mat-label>
  }
  <mat-date-range-input [rangePicker]="picker">
    <input [formControl]="startDateControl" matStartDate [placeholder]="placeholder" />
    <input [formControl]="endDateControl" matEndDate />
  </mat-date-range-input>
  @if (hint) {
    <mat-hint>{{ hint | translate }}</mat-hint>
  }
  <mat-datepicker-toggle [for]="picker" matIconSuffix />
  <mat-date-range-picker #picker />
  <control-error [control]="control" matError />
</mat-form-field>
