@import "themes";
@import "indents";
@import "typography";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
  font-family: $font;
  padding: $indentHalf;

  @include theme {
    background-color: $backgroundColor;
  }
}

html,
body,
app-root {
  height: 100%;
}

app-root {
  display: flex;
  flex-direction: column;
}

app-root > router-outlet ~ :last-child {
  flex-grow: 1;
  overflow: hidden;
}

a {
  text-decoration: none;
  cursor: pointer;

  &:visited {
    color: currentColor;
  }
}

input:-webkit-autofill {
  border-radius: 2px;
}
