@import "themes";
@import "indents";
@import "typography";

:host {
  display: flex;
  gap: $backgroundGap;
}

container-secondary {
  padding: $indent1;
  display: flex;
  align-content: center;
  gap: $indent4;
}

container-primary {
  padding: $indent1 $indent2;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

icon {
  cursor: pointer;
  font-size: $fontSizeExtraLarge;
  min-width: $fontSizeExtraLarge;
  min-height: $fontSizeExtraLarge;
}

span {
  height: min-content;
  font-size: $fontSizeBig;
}
