<container-secondary>
  <icon
    (click)="showSearchDialog()"
    src="search"
    [matTooltip]="('search' | translate).toString()"
  />
  <icon
    (click)="toggleViewType()"
    src="schedule"
    [matTooltip]="('viewType' | translate).toString()"
  />
  @if (mode$ | async; as mode) {
    @if (mode === "table" || mode === "tableExpanded") {
      <icon
        (click)="toggleExpand()"
        src="expand"
        [matTooltip]="('expand' | translate).toString()"
      />
    }
  }
  <icon (click)="toggleViewMode()" src="today" [matTooltip]="('viewMode' | translate).toString()" />
</container-secondary>
<container-primary>
  @if (schedule$ | async; as schedule) {
    <breadcrumbs-view [items]="breadcrumbs(schedule)" />
  } @else {
    <skeleton-loader />
  }
</container-primary>
