<section>
  <skeleton-loader />
  <skeleton-loader class="primary" />
</section>

<section>
  <div>
    <skeleton-loader />
    <skeleton-loader />
    <skeleton-loader />
  </div>
</section>

<section class="section-gap primary">
  <div>
    <skeleton-loader />
    <skeleton-loader />
    <skeleton-loader />
  </div>

  <div>
    <skeleton-loader />
    <skeleton-loader />
    <div class="spacer"></div>
  </div>
</section>

<section>
  <skeleton-loader />
  <skeleton-loader class="primary" />
</section>
